.association-container {
  width: 75%;
  margin: 0 auto;
}

.association-container .ui-jqgrid {
  margin: 0 auto;
}

.association-associated-grid-box {
  width: 40%;
  float: left;
}

.association-buttons-box {
  width: 20%;
  float: left;
  text-align: center;
  position: relative;
  top: 150px;
}

.association-buttons-box div {
  margin-bottom: 15px;
}

.association-unassociated-grid-box {
  width: 40%;
  float: left;
}

.association-arrow {
  width: 20px;
  height: 15px;
}

.association-grid-indicator {
  position: absolute;
  top: 210px;
}
