div#signIn {
  display: inline-block;
  text-align: center;
  line-height: 450px;
  width: 100%;
  font-size: 17px;
}

div#contents_container .ui-accordion .ui-accordion-content {
  padding: 5px;
}

div#contents_container .ui-accordion .ui-accordion-header {
  font-size: 15px;
  border-bottom: 2px solid #808080;
}

div#contents_container .ui-accordion .ui-accordion-header a {
  padding-top: 2px;
  padding-bottom: 2px;
}
