.giane-form label {
  display: block;
  float: left;
  width: 8.5em;
  text-align: right;
  padding-right: 0.5em;
}

.giane-form fieldset div:after {
  content: "";
  clear: both;
  display: block;
}

.giane-form textarea {
  height: 5em;
  resize: none;
}

.giane-form .select-field {
  width: 50%;
}

.giane-form fieldset div {
  margin-top: 12px;
}

.giane-form .submit-button-table {
  width: 100%;
}

.giane-form .submit-button-table .two-buttons-left-cell {
  width: 40%;
  text-align: right;
}

.giane-form .submit-button-table .two-buttons-left-indicator-cell {
  width: 10%;
  text-align: left;
}

.giane-form .submit-button-table .two-buttons-right-cell {
  width: 50%;
  text-align: left;
}

.giane-form .submit-button-table .single-button-cell {
  width: 60%;
  text-align: right;
}

.giane-form .submit-button-table .single-button-indicator-cell {
  width: 40%;
  text-align: left;
}

.giane-form-button {
  width: 7em;
}

.giane-disabled-field {
  border: none;
  color: black;
}

.required {
  color: red;
}

