#header {
  height: 30px;
  line-height: 30px;
  width: 100%;
  background-color: #696969;
}

#header:after {
  content: "";
  clear: both;
  display: block;
}

#header_title {
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 10px;
}

#localeSelector {
  float: right;
  margin-right: 10px;
}

#localeSelector_indicator_wapper {
  float: right;
  margin-right: 10px;
}

#localeSelector_indicator_wapper img {
  vertical-align: middle;
}

#contents_container {
  padding: 5px 0;
}

img#contents_container_indicator {
  width: 100px;
  position: absolute;
  top: 300px;
  left: 50%;
  margin: 0 -50px;
}

#footer {
  height: 30px;
  line-height: 30px;
  text-align: right;
  width: 100%;
  background-color: #696969;
  color: white;
}

#footer_url {
  color: #FFFFFF;
  font-weight: bold;
  margin-right: 10px;
}