div#header {
  height: 30px;
  line-height: 30px;
  width: 100%;
  text-align: center;
  background-color: #696969;
  color: white;
}

img#contents_container_indicator {
  width: 100px;
  position: absolute;
  top: 300px;
  left: 50%;
  margin: 0 -50px;
}

div#footer {
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  background-color: #696969;
  color: white;
}
