.giane-main {
  height: 450px;
  width: 100%;
  padding: 0px;
  background-color: #FFFAFA;
  font-size: 10px;
}

.giane-tab-container {
  height: 98%;
  min-width: 975px;
}

.giane-tab-content-form-column {
  width: 40%;
  min-width: 360px;
  float: left;
}

.giane-tab-content-grid-column {
  width: 60%;
  min-width: 560px;
  float: right;
  text-align: center;
}

.giane-tab-content {
  min-width: 950px;
}

.giane-tab-content:after {
  content: "";
  clear: both;
  display: block;
}

.giane-grid-box .ui-jqgrid {
  margin: 0 auto;
}

.giane-tab-indicator {
  width: 100px;
  position: absolute;
  top: 300px;
  left: 50%;
  margin: 0 -50px;
}

.giane-dialog {
  font-size: 10px;
}

img.main-indicator {
  width: 100px;
  position: absolute;
  top: 300px;
  left: 50%;
  margin: 0 -50px;
}
