.giane-form label {
  display: block;
  float: left;
  width: 8.5em;
  text-align: right;
  padding-right: 0.5em;
}

.giane-form textarea {
  height: 5em;
}

.submits-table {
  width: 100%;
}

.submits-table .left-button-cell {
  width: 40%;
  text-align: right;
}

.submits-table .left-button-indicator-cell {
  width: 10%;
  text-align: left;
}

.submits-table .right-button-cell {
  width: 50%;
  text-align: left;
}

.submits-table .giane-form-button {
  width: 7em;
}

div#breadcrumbs {
  line-height: 20px;
  font-size: 17px;
}

.tabs {
  height: 94%;
}

.tab-content {
  height: 100%;
}

.left-column {
  width: 40%;
  float: left;
}

.left-column .select-field {
  width: 60%;
}

.right-column {
  width: 60%;
  float: right;
}

.grid-box{
  padding-left: 15px;
}

.tab-indicator {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 300px;
  left: 455px;
}

.dialog {
  font-size: 10px;
}

#startSimulator_container {
  vertical-align: middle;
  text-align: center;
  height:100%;
  width: 100%;
  font-size: 17px;
}

.required {
  color: red;
}

fieldset div {
  margin-top: 12px;
}

textarea {
  resize: none;
}
