<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="additionalIpV4RouteDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.AdditionalIpV4RouteDaoImpl" scope="prototype" />
  <bean id="additionalIpV4RouteGroupDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.AdditionalIpV4RouteGroupDaoImpl" scope="prototype" />
  <bean id="additionalIpV6RouteDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.AdditionalIpV6RouteDaoImpl" scope="prototype" />
  <bean id="additionalIpV6RouteGroupDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.AdditionalIpV6RouteGroupDaoImpl" scope="prototype" />
  <bean id="fixedIpV4RouteDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.FixedIpV4RouteDaoImpl" scope="prototype" />
  <bean id="fixedIpV6RouteDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.FixedIpV6RouteDaoImpl" scope="prototype" />
  <bean id="ipAddressDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.IpAddressDaoImpl" scope="prototype" />
  <bean id="ipAddressRelationDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.IpAddressRelationDaoImpl" scope="prototype" />
  <bean id="l2ConnectionDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.L2ConnectionDaoImpl" scope="prototype" />
  <bean id="lagDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.LagDaoImpl" scope="prototype" />
  <bean id="networkDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.NetworkDaoImpl" scope="prototype" />
  <bean id="nodeDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.NodeDaoImpl" scope="prototype" />
  <bean id="physicalNetworkInterfaceDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.PhysicalNetworkInterfaceDaoImpl" scope="prototype" />
  <bean id="realNetworkInterfaceConfigurationDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.RealNetworkInterfaceConfigurationDaoImpl" scope="prototype" />
  <bean id="realNetworkInterfaceDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.RealNetworkInterfaceDaoImpl" scope="prototype" />
  <bean id="simulationDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.SimulationDaoImpl" scope="prototype" />
  <bean id="snmpAgentDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.SnmpAgentDaoImpl" scope="prototype" />
  <bean id="trapTargetDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.TrapTargetDaoImpl" scope="prototype" />
  <bean id="trapTargetGroupDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.TrapTargetGroupDaoImpl" scope="prototype" />
  <bean id="vlanDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.VlanDaoImpl" scope="prototype" />
  <bean id="vlanMemberDao" class="com.github.kaitoy.sneo.giane.model.dao.impl.VlanMemberDaoImpl" scope="prototype" />

</beans>
