<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>

    <property name="dialect">org.hibernate.dialect.H2Dialect</property>
    <property name="connection.driver_class">org.h2.Driver</property>
    <property name="connection.username">giane</property>
    <property name="connection.password">shingiane</property>
    <!-- embedded <property name="connection.url">jdbc:h2:file:db/giane</property> -->
    <property name="connection.url">jdbc:h2:tcp://localhost:9092/db/giane</property>
    <property name="hibernate.default_schema">PUBLIC</property>
    <property name="hibernate.id.new_generator_mappings">true</property>

    <!-- uncomment for debug
    <property name="show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.use_sql_comments">true</property>
     -->

    <!-- If DB does not exist hibernate makes it -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- mappings -->
    <mapping class="com.github.kaitoy.sneo.giane.model.AdditionalIpV4Route" />
    <mapping class="com.github.kaitoy.sneo.giane.model.AdditionalIpV4RouteGroup" />
    <mapping class="com.github.kaitoy.sneo.giane.model.FixedIpV4Route" />
    <mapping class="com.github.kaitoy.sneo.giane.model.IpAddress" />
    <mapping class="com.github.kaitoy.sneo.giane.model.IpAddressRelation" />
    <mapping class="com.github.kaitoy.sneo.giane.model.IpV4Route" />
    <mapping class="com.github.kaitoy.sneo.giane.model.L2Connection" />
    <mapping class="com.github.kaitoy.sneo.giane.model.Network" />
    <mapping class="com.github.kaitoy.sneo.giane.model.Node" />
    <mapping class="com.github.kaitoy.sneo.giane.model.PhysicalNetworkInterface" />
    <mapping class="com.github.kaitoy.sneo.giane.model.PhysicalNetworkInterfaceIpAddressRelation" />
    <mapping class="com.github.kaitoy.sneo.giane.model.RealNetworkInterface" />
    <mapping class="com.github.kaitoy.sneo.giane.model.RealNetworkInterfaceConfiguration" />
    <mapping class="com.github.kaitoy.sneo.giane.model.RealNetworkInterfaceConfigurationIpAddressRelation" />
    <mapping class="com.github.kaitoy.sneo.giane.model.Simulation" />
    <mapping class="com.github.kaitoy.sneo.giane.model.SnmpAgent" />
    <mapping class="com.github.kaitoy.sneo.giane.model.TrapTarget" />
    <mapping class="com.github.kaitoy.sneo.giane.model.TrapTargetGroup" />
    <mapping class="com.github.kaitoy.sneo.giane.model.Vlan" />
    <mapping class="com.github.kaitoy.sneo.giane.model.VlanIpAddressRelation" />
    <mapping class="com.github.kaitoy.sneo.giane.model.VlanMember" />

  </session-factory>
</hibernate-configuration>
